// voila ma partie contact

.img-contact{
    width: 120px;
    height:65px;
}

.bordure-orange-left{
    border-left: 2px solid #d95204;
    height: 100px;

}

.bordure-orange-right{
    border-right:2px solid #d95204;
    height: 100px;
}

.instagram{
    width:30px;
    height:30px;
}

.twitter{
    width:30px;
    height:30px;
}

.facebook{
    width:30px;
    height:30px; 
}

.googlemap{
    width:100%;
}
