.livraison{
    
        min-height: 300px;
        background-image: url("../media/livraison.png");
        background-position: center;
        background-size: cover;
    }

    .img-livraison{
        width:180px;
        height:110px;
    }
    
    .montserrat{
        font-family: $montserrat;
    }

    .lobster{
        font-family: $lobster;
    }

    .pacifico{
        font-family: $pacifico;
    }

    .site-livraison{
        font-size: 40px;
    }

    .text-orange{
        color:$text-orange;
    }

 